<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="personalproject, Entity Framework">
    <meta name="description" content="Class personal project.">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewBag - Joshua Owens</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" />
    <link rel="stylesheet" href="../content/css/all.min.css" />
    <link rel="stylesheet" href="../content/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../content/css/templatemo-style.css" />
    <link rel="stylesheet" type="text/css" href="../slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="../slick/slick-theme.css" />
    <link rel="stylesheet" href="~/Content/css/custom.css" />
    
    @* Below favacons *@
    <link rel="apple-touch-icon" sizes="180x180" href="~/content/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/content/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/content/favicon-16x16.png">
    <link rel="manifest" href="~/content/site.webmanifest">
    <!--
    Parallo Templates
    https://templatemo.com/tm-534-parallo
    -->
</head>
<body>
    <div class="parallax-window" data-parallax="scroll" data-image-src="../Content/img/background/DJI_0077.JPG">
        <div class="container-fluid">
            <div class="row tm-brand-row">
                <div class="col-lg-4 col-12">
                    <a href="@Url.Action("Index", "Home")">
                        <div class="tm-brand-container tm-bg-black-transparent" style=" border-radius: 10px">

                            <img id="LogoImg" src="~/Content/img/JoLogo.png" href="" />
                            <div class="tm-brand-texts">
                                <h1 class="text-uppercase tm-brand-name" style="color:white;">Joshua Owens</h1>
                                <p>Full- Stack Developer</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="tm-nav ">
                        <nav class="navbar navbar-expand-lg navbar-light tm-bg-black-transparent tm-navbar" style=" border-radius: 10px">
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav">
                                    <li>
                                        @*<div class="tm-nav-link-highlight"></div>*@
                                        <a class="nav-color" href="@Url.Action("About","home")">About</a>
                                    <li class="dropdown">
                                        <button class="dropbtn">
                                            Projects
                                        </button>
                                        <i class="far fa-caret-square-down nav-color "></i>

                                        <div class="dropdown-content">

                                            @*<a href="@Url.Action("Projects", "Home")" class="nav-color">View All</a>*@
                                            <a target="_blank" href="http://fed1project.joshuaowens.net/" class="nav-color">Simple Site</a>
                                            <a href="https://github.com/truejosh/DungeonApplication" class="nav-color">Dungeon</a>
                                            <a target="_blank" href="http://pizzastore.joshuaowens.net/" class="nav-color">Pizza Store</a>
                                            <a href="http://groupproject.joshuaowens.net/" class="nav-color">Pair Project</a>
                                            <a href="http://api.joshuaowens.net/" class="nav-color">Database API</a>
                                        </div>
                                    </li>

                                    <li>
                                        @*<div class="tm-nav-link-highlight"></div>*@
                                        <a class="nav-color" href="@Url.Action("Classmates","home")">Classmates</a>
                                    </li>
                                    <li>
                                        @*<div class="tm-nav-link-highlight"></div>*@
                                        <a class="nav-color" href="@Url.Action("contact","home")">Contact</a>
                                    </li>
                                    <li>
                                        <a class="nav-color" target="_blank" href="~/Content/Resume.pdf">Resume <i class="far fa-file-alt"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

            <main>

                @RenderBody()

            </main>
            <!-- Page footer -->
            <footer class="row">
                <p class="col-12 text-white text-center tm-copyright-text">
                    Copyright &copy; @DateTime.Now.Year<br />
                    Designed by TemplateMo <br />Converted by Joshua Owens
                </p>
            </footer>
        </div>
        <!-- .container-fluid -->
    </div>


    <script src="~/Content/js/custom.js"></script>
    <script src="~/scripts/js/jquery.min.js"></script>
    <script src="~/scripts/js/parallax.min.js"></script>
    <script src="~/scripts/js/bootstrap.min.js"></script>
    <script src="~/slick/slick.min.js"></script>
    <script>
        $(function () {
            $('.tabgroup > div').hide();
            $('.tabgroup > div:first-of-type').show();
            $('.tabs a').click(function (e) {
                e.preventDefault();
                var $this = $(this),
                    tabgroup = '#' + $this.parents('.tabs').data('tabgroup'),
                    others = $this.closest('li').siblings().children('a'),
                    target = $this.attr('href');
                others.removeClass('active');
                $this.addClass('active');
                $(tabgroup).children('div').hide();
                $(target).show();

                // Scroll to tab content (for mobile)
                if ($(window).width() < 992) {
                    $('html, body').animate({
                        scrollTop: $("#first-tab-group").offset().top
                    }, 200);
                }
            })

            $('.tm-carousel').slick({
                dots: true,
                infinite: false,
                arrows: false,
                speed: 300,
                slidesToShow: 3,
                slidesToScroll: 2,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            arrows: false,
                            slidesToShow: 2,
                            slidesToScroll: 1,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            arrows: false,
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            arrows: false,
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                ]
            });
        });

    </script>
    @RenderSection("scripts", required: false)
</body>
</html>

